*,*::before,*::after{
    box-sizing: border-box;
}
.taiji{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to right,white 50%,black 50%);
    box-shadow: 0 0 3px hsla(0,0%,0%,.5);
    position: relative;
}
.taiji::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 50px;
    border: 35px solid #000;
}
.taiji::after{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: 50px;
    bottom: 0;
    border: 35px solid #fff;
}